/*
  GroupMe Archiver: A web application to store and display GroupMe group histories
  Copyright (C) 2016 Jordan Buchman

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.message .avatar , .member .avatar{
  border-radius: 50% 50% 50% 50%;
  width: 50px;
  height: 50px;
}

.tooltip_template .avatar{
  border-radius: 10% 10% 10% 10%;
  width: 50px;
  height: 50px;
}

.header .avatar {
  border-radius: 10% 10% 10% 10%;
  width: 100px;
  height: 100px;
}

.message {
  background: white;
  padding: 10px 0px 10px 0px;
}
.message:nth-child(odd) {
  background: lightblue;
}

.tooltip_template {
  display: none;
}

.nav-buttons {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background: lightgrey;
}

