{#
  GroupMe Archiver: A web application to store and display GroupMe group histories
  Copyright (C) 2016 Jordan Buchman

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "layout.html" %}
{% from 'message.html' import message_list, nav_buttons with context %}

{% block header %}
<form id="search" action="/groups/{{group_id}}">
    <input type="search" name="query" placeholder="Search" value="{{query}}">
    <input id="date" type="text" name="date" placeholder="Date" value="{{date}}" data-date-start-date="{{start_date}}" data-date-end-date="{{end_date}}">
    <input type="submit" value="Go">
</form>
<h1 class="header">
    <img class="avatar" src={% if group.image_url %}"{{group.image_url}}" {% else %} "{{ url_for('static', filename='groupme.jpg') }}"{% endif %}>
    <a href="/groups/{{group_id}}">{{group.name}}</a>
  </h1>
<a href="/groups/{{group_id}}/members">Members</a>
{% endblock %}

{% block body %}
<dl class=messages>
    {{message_list(messages)}}
</dl>
{{nav_buttons()}}
{% endblock %}