{% extends "layout.html" %}
{% from 'message.html' import message_list %}

{% block header %}
  <form id="search" action="/groups/{{group_id | safe}}/members/{{id | safe}}">
    <input type="search" name="query" placeholder="Search" value="{{query | safe}}">
    <input id="date" type="text" name="date" placeholder="Date" value="{{date | safe}}" data-date-start-date="{{start_date}}" data-date-end-date="{{end_date}}">
    <input type="submit" value="Go">
  </form>
  <h1 class="header">
    <img class="avatar" src={% if member.avatar %}"{{member.avatar}}" {% else %} "{{ url_for('static', filename='groupme.jpg') }}"{% endif %}>
    {{member.nickname}}
  </h1>
{% endblock %}

{% block body %}
  <ul class=messages>
    {{message_list(messages)}}
  </ul>
  <a href="/groups/{{group_id | safe}}/members/{{id | safe}}?offset={{offset+num}}&num={{num}}{% if query %}&query={{query | safe}}{% endif %}{% if msg_id %}&msg_id={{msg_id | safe}}{% endif %}"><<<</a>
  <a href="/groups/{{group_id | safe}}/members/{{id | safe}}?offset={{offset-num if offset-num >= 0 else 0}}&num={{num}}{% if query %}&query={{query | safe}}{% endif %}{% if msg_id %}&msg_id={{msg_id | safe}}{% endif %}">>>></a>
{% endblock %}
